* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

:root {
    --noir : #090c10;
    --rose-fonce : #c55362;
    --rose-clair : #f7e7ed;
    --violet : #825566;
    --gris-vert : #55574e;
    --gris-fonce : #878585;
    --gris-clair : #e5e5e5;
    --blanc : #ffffff;
}

#noir {
    background-color: var(--noir);
}
#rose-fonce {
    background-color: var(--rose-fonce);
}
#rose-clair {
    background-color: var(--rose-clair);
}
#violet {
    background-color: var(--violet);
}
#gris-vert {
    background-color: var(--gris-vert);
}
#gris-fonce {
    background-color: var(--gris-fonce);
}
#gris-clair {
    background-color: var(--gris-clair);
}
#blanc {
    background-color: var(--blanc);
}